div {
    width: 400px;
    height: 200px;
    /* background-color: purple; */
    /* border-radius: 20px; */
    border: 40px dashed red;
    margin: 20px 10px 30px 70px;    
}

.div2{
    box-sizing: border-box;
}

.div3{
    background-image: url("../../S07E51/e5/index.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}